<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>H264PlayDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C6058BD81D20B5A100ADC2F7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C6058BF11D20B5A200ADC2F7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C6058BFC1D20B5A200ADC2F7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
